* {
    box-sizing:border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px
}

body {
    background-color: rgb(16, 107, 218);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
/* Header styles */
h1 {
    color: rgb(20, 20, 53);
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    padding: 24px;
}

.container {
    background-color:white;
    width: 800px;
    max-width: 80%;
    border-radius: 5px;
    padding: 10px;
}

.time-left {
    padding: 5px;
    margin: 5px;
}

/* Question and Answer button styles */
#question {
    font-size: 24px;
    font-weight: 300;
    margin: 10px;
}

#answer-buttons {
    display:grid;
    grid-template-columns: repeat(2, auto);
    gap: 15px;
    margin: 10px;
}

.button {
    background-color: rgb(89, 141, 204);
    border: 2px solid rgb(20, 20, 53);
    margin: 10px;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px;
}

.button:hover {
    color: white;
    cursor: pointer;
}

.button:active {
    background: yellow;
}

.button:focus {
    background: yellow;
}

/* Container styles for start and next button */
.begin {
    display:flex;
    justify-content: center;
    align-items: center;
}

#start-button {
    background-color: rgb(89, 139, 89);
    font-size: 36px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

#start-button:hover {
    color: white;
    cursor: pointer;
}

#next-button {
    background-color: rgb(167, 232, 15);
    font-size: 36px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

#next-button:hover {
    color: white;
    cursor: pointer;
}

/* Initials and score styling */
#initials {
    margin: 10px;
}

#submit {
    background-color: blueviolet;
    padding: 5px;
    border-radius: 5px;
}

#submit:hover {
    color: white;
    cursor: pointer;
}

#submit:focus {
    background-color: greenyellow;
}

#score {
    float:right;
    margin: 10px;
    padding: 5px;
}

#last-score {
    padding: 5px;
    margin: 5px;
}

#player-name {
    padding: 5px;
    margin: 5px;
}

/* Hide class to remove and reveal different elements */
.hide {
    display: none;
}

